.idea
.vscode
PMetis/__pycache__
PMetis/MetisTopos/*.part.*
# PMetis/parmetis/balcon
PMetis/parmetis/balcon/*/*.log
PMetis/parmetis/newpart
PMetis/parmetis/resultlog/*/*.log

parmetis/balcon/*/*.log
parmetis/newpart
parmetis/resultlog/*/*.log



